// Digital ocean token
variable "do_token" { default = "digitaloceantoken" }

// Infrastructure region
variable "region" { default = "lon1" }

// Droplet size
variable "droplet_size" { default = "s-1vcpu-1gb" }
variable "volume_size" { default = 20 }

// Cloud init variables
variable "source" { default = "https://github.com/kshaa/vault-droplet" }

// Domain setup
variable "domain_exists" { default = 1 }
variable "domain_name" { default = "example.com" }

// Infrastructure code tends to be re-copied, so some variable for custom naming helps
variable "project_code" { default = "vault-droplet" }